---
import Layout from '../layouts/Layout.astro';

import HomeSection from '../partials/HomeSection.astro'
import InfoSection from '../partials/InfoSection.astro';
import CardsSection from '../partials/CardsSection.astro'
import SliderSection from '../partials/SliderSection.astro'

---

<Layout title="Welcome to Astro.">
	<main>
		<HomeSection/>
		<CardsSection/>
		<!-- <InfoSection/> -->
		<SliderSection/>
	</main>
</Layout>

<style>
	
</style>
